# Base URL for local development
BASE_URL="http://localhost:3000"

###### DATABASE ######
# Set up a free PostgreSQL database on Neon: https://console.neon.tech/
# The project uses the Neon serverless driver adapter.
# Copy your connection string here.
DATABASE_URL="postgresql://neondb_owner:[YOUR_NEON_PASSWORD]@[YOUR_NEON_HOST]/neondb?sslmode=require"

###### AI ######
# Get a Google API Key: https://aistudio.google.com/apikey
GOOGLE_API_KEY="YOUR_GOOGLE_API_KEY"
# Get a Groq API Key: https://console.groq.com/keys
GROQ_API_KEY="YOUR_GROQ_API_KEY"

###### GOOGLE FONTS ######
# Get a Google Fonts API Key: https://developers.google.com/fonts/docs/developer_api
GOOGLE_FONTS_API_KEY="YOUR_GOOGLE_FONTS_API_KEY"